/* Base */

#obflag{
	position: absolute;
	top: 20px;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;

	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#obflag.top{
	top: 20px;
}
#obflag.left{
	left: 0;
}
#obflag.right{
	right: 0;
}

#obflag a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 90px;
	height: 135px;
	background-repeat: no-repeat;
	background-size: 90px 135px;
}

/* HONORABLE */

#obflag.honorable.black.left a{
	background-image: url(ribbons/obflag_honorable_black_left.png);
}
#obflag.honorable.black.right a{
	background-image: url(ribbons/obflag_honorable_black_right.png);
}
#obflag.honorable.silver.left a{
	background-image: url(ribbons/obflag_honorable_silver_left.png);
}
#obflag.honorable.silver.right a{
	background-image: url(ribbons/obflag_honorable_silver_right.png);
}
#obflag.honorable.white.left a{
	background-image: url(ribbons/obflag_honorable_white_left.png);
}
#obflag.honorable.white.right a{
	background-image: url(ribbons/obflag_honorable_white_right.png);
}
#obflag.honorable.green.left a{
	background-image: url(ribbons/obflag_honorable_green_left.png);
}
#obflag.honorable.green.right a{
	background-image: url(ribbons/obflag_honorable_green_right.png);
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),	only screen and (min-device-pixel-ratio: 1.5) {

	/* HONORABLE */

	#obflag.honorable.black.left a{
		background-image: url(ribbons/obflag_honorable_black_left@2x.png);
	}
	#obflag.honorable.black.right a{
		background-image: url(ribbons/obflag_honorable_black_right@2x.png);
	}
	#obflag.honorable.silver.left a{
		background-image: url(ribbons/obflag_honorable_silver_left@2x.png);
	}
	#obflag.honorable.silver.right a{
		background-image: url(ribbons/obflag_honorable_silver_right@2x.png);
	}
	#obflag.honorable.white.left a{
		background-image: url(ribbons/obflag_honorable_white_left@2x.png);
	}
	#obflag.honorable.white.right a{
		background-image: url(ribbons/obflag_honorable_white_right@2x.png);
	}
	#obflag.honorable.green.left a{
		background-image: url(ribbons/obflag_honorable_green_left@2x.png);
	}
	#obflag.honorable.green.right a{
		background-image: url(ribbons/obflag_honorable_green_right@2x.png);
	}

}