/* LICENSE & DETAILS
   ==================================================

	Theme Name: Dante Child Theme
	Theme URI: http://dante.swiftideas.net
	Description: A Retina Responsive Multi-Purpose WordPress Theme - Designed & Developed by Swift Ideas ( www.swiftideas.net )
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Template: dante
	Version: 1.7
	Author: Swift Ideas
	Author URI: www.swiftideas.net

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

   ==================================================
*/

/* --------------------------------------------
	DANTE CSS IMPORT
-------------------------------------------- */

@import url("../dante/style.css");

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2cwdj4');
	src:url('fonts/icomoon.eot?#iefix2cwdj4') format('embedded-opentype'),
		url('fonts/icomoon.woff?2cwdj4') format('woff'),
		url('fonts/icomoon.ttf?2cwdj4') format('truetype'),
		url('fonts/icomoon.svg?2cwdj4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fixed {
	position: fixed;
	width: 100%;
	top:0;
}

.visible-sm.fixed {
	top: 28px !important;
	position: fixed !important;
	width: 117px;
	background: rgba(0,0,0,.5) !important;
}


/* --------------------------------------------
	PRODUCT CARDS
-------------------------------------------- */

.product-flip {
    background: #f7f7f7;
    border: #e4e4e4 1px solid;
    border-radius: 2px;
    overflow: hidden;
    transition: .2s all;
    min-height: 500px;
    position: relative;
}

.product-flip img {
    max-height: 199px;
}

.product-flip img+p {
    display: none; /* UGHHHH */
}

.product-inner {
    padding: 10px 20px;
}

.product-inner h3, .product-inner p {
    text-align: center;
}

.product-inner a {
    text-align: center;
    background: #ec2b29;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0 10px -75px;
    border-radius: 5px;
    width: 150px;
    font-size: 18px;
    left: 50%;
    display: block;
    position: absolute;
    bottom: 20px;
}

.product-inner a:hover {
    color: #fff;
}

.product-flip:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
    transition: .2s all;
}


/***** 3D STUFF ******/
/*
.product-container {
    -webkit-perspective: 1000;
}
.product-container,
.product-flipper,
.product-front,
.product-back {
    width: 200px;
    height: 200px;
}
.product-flipper {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0!important;
    -moz-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0s!important;
    -o-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0!important;
    transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275) 0!important;
}
.product-container:hover .product-flipper {
    -webkit-transform: rotateY(180deg);
}
.product-front,
.product-back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.product-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
}
.product-back {
    -webkit-transform: rotateY(180deg);
}

.product-front {
    background-color: rgba(255, 0, 0, .5);
}
.product-back {
    background-color: rgba(0, 255, 0, .5);
}

.product-flipper img {
	  max-width: 100%;
    height: auto;
}
.product-flip img+p {
	  display: none;
}

.product-back a {
	  text-align: center;
	  background: #ec2b29;
	  color: #fff;
	  text-decoration: none;
	  padding: 10px 20px;
	  margin: 10px 0 10px -75px;
	  border-radius: 5px;
	  width: 150px;
	  font-size: 18px;
	  left: 50%;
	  display: block;
	  position: absolute;
	  bottom: 20px;
}

.product-back a:hover {
    color: #fff;
}

.product-flip .back-side {
    padding: 10px 20px;
}
*/


.fixed #header {
	display: none;
} 

#header{
    height: 90px;
}

@media screen and (max-width: 1200px) {
  
  .header-6 .header-right {
    float: right;
  }
}

.home-slider-wrap, #page-wrap{
    overflow: visible;
}

/*
.header-wrap.fixed #logo a img {
	width: 140px;
	height: auto !important;
	min-height: 0 !important;
}*/

.fancy-heading .heading-text {
	background: rgba(0,0,0,.4);
	padding: 15px 0;
}

.fd-cta {
	background: #bf251d;
	padding: 10px 15px;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
}

.fd-cta a {
	color: #fff;
	text-decoration: underline;
}

.fd-cta a:hover {
	color: #fff;
}

.fd-cta .heading {
    font-weight: bold;
}
.fd-cta input {
    margin-bottom: 10px;
}
.fd-cta .fd-link {
    font-size: .8em;
    float: right;
}

.home .sf-icon-box .ss-like:before {
	font-family: 'icomoon';
	content: "\e602";
	color: #033568;
	font-size: 70px;
}

.home .sf-icon-box .ss-view:before {
	font-family: 'icomoon';
	content: "\e601";
	color: #033568;
	font-size: 70px;
}

.home .sf-icon-box .ss-man:before {
	font-family: 'icomoon';
	content: "\e600";
	color: #033568;
	font-size: 580px;
	margin-left: -190px;
}

.home .sf-icon-cont {
	height: 30px;
	width: 70px;
}

.home .sf-icon-cont {
	border: 0;
	
}

.home .sf-icon-cont:hover {
	background: none;
}

.home .sf-hover .sf-icon-cont.sf-icon-accent:hover {
	background: none;
}

.home .sf-icon-cont.sf-icon-accent:hover, .sf-hover .sf-icon-cont.sf-icon-accent {
	background: none !important;
}

.home .spb_content_element .sf-icon-box .sf-icon-large {
	display: none;
}

.home .sf-icon-box-animated .inner {
	border-radius: 4px;
	background: #f7f7f7;
	border: 1px solid #e4e4e4;
}

.home .sf-icon-box-animated .front {
	border: 0;
}

.home .row > div:nth-child(1) .front:before {
	content: " ";
	background: url('assets/RTE.jpg');
	background-size: cover;
	height: 200px;
	width: 100%;
	display: block;
}

.home .row > div:nth-child(2) .front:before {
	content: " ";
	background: url('assets/jerky.jpg');
	background-size: cover;
	height: 200px;
	width: 100%;
	display: block;
}

.home .row > div .front {
	padding: 0;
}

.home .row > div .front .sf-icon-box-content-wrap {
	padding: 30px 20px;
}

.home .row > div:nth-child(3) .front:before {
	content: " ";
	background: url('assets/canned.jpg');
	background-size: cover;
	height: 200px;
	width: 100%;
	display: block;
	padding: 0;
}

.home .row > div:nth-child(4) .front:before {
	content: " ";
	background: url('assets/frozen.jpg');
	background-size: cover;
	height: 200px;
	width: 100%;
	display: block;
}

/*.home .spb_parallax_asset .sf-button {
	background: #fff;
}
*/

/*.center-block .spb_content_wrapper{
    width: 66.6666%;
    margin: 0 auto;
    padding: 50px;
}*/

h3.spb-heading{
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 15px 0;
}

h3.spb-heading span{
    padding: 0px;
}

h3.spb-heading span:before, 
h3.spb-heading span:after {
    border: none;
    
}


/* --------------------------------------------
	CHILD THEME CSS
-------------------------------------------- */

nav#main-navigation > div > .menu > li.menu-item > a {
font-size: 18px;
}

@media only screen and (max-width: 1200px) {

    .header-6 #main-navigation {
        width: 80%;
    }
}

#top-header {
background-color: #053a6d;
color: #fff;
}

#top-header .th-left {
line-height: 30px;
font-size: 12px;
text-align: right;
float: right;
padding-right: 0;
}

.intro {
text-align: center;
margin: 15px 0 30px;
line-height: 32px;
font-size: 20px;
}

.spb_parallax_asset {
padding-top: 150px;
padding-bottom: 150px;
}

.spb_content_wrapper {
text-align: center;
background: rgba(0,0,0,.4);
padding: 50px 0;
}

.spb_content_wrapper h1 {
color: #fff;
}

.spb_content_wrapper p {
color: #fff;
font-size: 18px;
}

section.block-red-title {
background: #ec2b29;
position: relative;
margin: 0 0 50px;
z-index: 2;
}

section.block-red-title h2 {
color: #fff;
text-align: center;
line-height: 60px;
position: relative;
}

section.block-red-title h2:after {
background: url(assets/red-heading-arrow.png) center bottom no-repeat;
content: " ";
position: absolute;
width: 46px;
height: 23px;
bottom: -23px;
left: 50%;
margin-left: -23px;
}

section.block-red-title:before {
content: " ";
top: 0;
left: -100%;
height: 60px;
position: absolute;
width: 100%;
background: #ec2b29;
z-index: 1;
}

section.block-red-title:after {
content: " ";
top: 0;
right: -100%;
height: 60px;
position: absolute;
width: 100%;
background: #ec2b29;
z-index: 1;
}

#header-section #main-nav {
	border-top: 0;
}

#main-nav {
	background: #ae130b;
}

#header-section {
	background: #cd261d;
}

nav#main-navigation ul.menu {
	float: none;
	width: 835px;
	margin: 0px auto;
}

.header-1 nav#main-navigation .menu > li {
	padding: 0 30px 4px 10px;
}

.header-1 nav#main-navigation .menu > li:last-child {
	padding-right: 0;
}

#homepage-img {
  display: none;
	background-image: url(assets/homepage.jpg);
	background-size: cover;
	min-height: 500px;
}

/*.home .inner-page-wrap {
    margin-top: 0;
    margin-bottom: 0px;
}*/

.inner-page-wrap, .alt-bg, .spb_gmaps_widget {
    margin-bottom: 0px;
}

.full-width-text:first-child {
    padding: 0;
}

.home-top-content{
    padding: 0 100px;
}

.red-button{
    background: #AE130B;
}

.sf-button.red-button:hover{
    background: #d2332b;
}

#footer .sf-button {
	background: #ca2d26;
	color: #fff !important;
}

#footer .sf-button:hover {
	background: #ae130b !important;
}

#home-footer-wrap{
    background-color: #033568;
    padding-top: 25px;
}

#home-footer-wrap a{
    color:#fff;
}

#home-footer-wrap a:hover{
    text-decoration: underline;
}

#home-footer-wrap .widget-heading{
    color:#fff;
    font-weight: bold;
    
}

.page-heading.fancy-heading {
	padding-top: 100px;
	padding-bottom: 100px;
}

.fancy-heading.fancy-image.dark-style h1 {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #fff !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.fancy-heading.fancy-image.dark-style h3 {
	margin: 0 auto 0;
	padding: 10px 30px;
	color: #fff !important;
	font-weight: bold;
}

#species-list {
	list-style: none;
}

#species-list li {
	float: left;
	margin-right: 15px;
	margin-bottom: 40px;
	min-height: 301px;
	width: 210px;
}

#species-list li:last-child {
	margin-right: 0;
}

#species-list li img.attachment-post-thumbnail {
    width: 100%;
}

#species-list li .species-block {
    background-color: white;
    height: 220px;
    padding: 6px;
}
#species-list li h4 {
    margin: 0;
}
#species-list li p {
    margin: 4px;
    font-size: .9em;
    line0height: 1em;
}

#species-list li .species-footer {
    position: relative;
    height: 50px;
    background-color: #bf251d;
}
#species-list li .species-footer .category {
    position: absolute;
    right: 8px;
    bottom: 5px;
    color: white;
    font-family: source_sans_proregular, Arial, Helvetica, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
}

#species-list li .species-footer.wild-caught {
    background-color: #3E95DAs;
}
#species-list li .species-footer.farm-raised {
    background-color: #FD9479;
}
#species-list li .species-footer.wild-alaska {
    background-color: #265f9c;
}
#species-list li .species-footer.wild-alaska img {
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 5%;
    max-width: 45%;
    height: auto;
}
.recent-post figure.animated-overlay {
	background-color: none !important;
}

figure.animated-overlay figcaption {

}

figure.animated-overlay figcaption .thumb-info i {
	background: none !important;
}

figure.animated-overlay.overlay-alt figcaption {
	background-color: rgba(195, 40, 33, .5) !important;
	background-image: none !important;
}

figcaption .ss-navigateright:before {
	content: "READ MORE" !important;
	margin-left: -40px;
	font-size: 18px;
	text-shadow: rgba(0,0,0,.4) 0px 1px 3px;
}

nav.std-menu .menu ul.sub-menu {
	min-width: 200px !important;
}

#distr-logo {
	background: #bf251d;
	padding: 0 0 0 30px;
	height: 206px;
}

#distr-addr {
	height: 100%;
	color: #fff;
	padding: 25px 0 10px 0;
	font-weight: bold;
	background: #265f9c;
	/* float: right; 
	line-height: 36px;*/
	text-align: center;
}


#distr-addr p {
	font-size: 20px;
	line-height: 16px;
	margin-bottom: 15px;
}

#distr-addr a,
#distr-contact a {
    color: #fff;
}

#distr-logo a.back {
	color: #fff;
	text-indent: 110px;
	line-height: 66px;
}

#distr-logo a:hover {
	text-decoration: underline;
}

#distr-logo h1#logo-i {
	background: url('assets/logo.png');
	background-size: 268px 176px;
	width: 268px;
	height: 176px;
	text-indent: -2000em;
	overflow: hidden;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -134px;
	top: 0;	
}

#distr-logo h1#logo-i a {
	display: block;
}


/* contact forms on distro pages */

body.page-template-template-holding .zip-entry input {
    float: left;
    width: 82%;
    margin-right: 6px;
}

@media(min-width:768px) {
    body.page-template-template-holding .zip-entry input {
        width: 75%;
    }
}
@media(min-width:1200px) {
    body.page-template-template-holding .zip-entry input {
        width: 82%;
    }
}

/* shortcodes keep adding in <p> tags */
body.page-template-template-holding .zip-entry p,
body.page-template-template-holding .zip-entry br {
    display: none;
}

body.page-template-template-holding .zip-entry .go-button {
    float: left;
    padding: 10px;
    background-color: #033568;
    border-radius: 3px;
    height: 38px;
    margin-top: 5px;
    cursor: pointer;
}



#locations-map {
	width: 100%;
}


@media only screen and (max-width: 520px) {
	#species-list li {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: auto;	
	}
}

@media only screen and (max-width: 768px) {
	.product-flip {
		max-width: 375px;
		margin: 0 auto;
		padding-bottom: 70px;
	}
	
	.product-flip:hover {
		transform: scale(1,1) !important;
	}
	
	.product-flip img {
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	#logo a.mobile-menu-show {
		float: none;
		position: absolute;
		right: 15px;
		top: 50%;
		color: #fff !important;
		margin-top: -22px;
		background: rgba(0,0,0,.2);
		border-radius: 5px;
		padding: 13px 10px 9px 10px;
	}

	#logo a.mobile-menu-show i {
		vertical-align: -4px;
		opacity: .5;
	}

	#logo a.mobile-menu-show:after {
		content: " MENU";
	}
	
	#distr-logo h1#logo-i {
		position: relative;
		left: auto;
		margin: 15px auto;
/*		width: 125px; */
	}
	
	#distr-logo {
		padding: 0;
		height: auto;
	}
	
	#distr-logo .back {
		padding: 0 10px;
	}
	
	#distr-addr {
		height: 100%;
		color: #fff;
		padding: 25px;
		font-size: 18px;
		font-weight: bold;
		background: #265f9c;
		float: none;
		line-height: 28.8px;
	}
}

@media only screen and (max-width: 479px) {

	#logo a.mobile-menu-show {
		top: 58%;
		transform: scale(0.8,0.8);
		right: 0;
	}
	
	.header-1 #logo {
		height: auto !important;
		margin-bottom: 20px;
	}

	#logo a {
		/* margin: 20px auto 0;*/
		min-height: auto !important;
		float: left !important;
	}

	#logo a img.standard, #logo a img.retina {
		/* min-height: 132px !important;*/
	}
}


body.logged-in #distr-logo h1 {
    top: 35px !important;
}

/* Base */

#obflag{
	position: absolute;
	top: 5px;
	width: 175px;
	height: 43px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#obflag.top{
	top: 20px;
}

#obflag.right{
	right: -5px;
}

#obflag a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 175px;
	height: 43px;
	background-repeat: no-repeat;
	background-size: 175px 43px;
}

/* OB Flag */

#obflag.blue.right a{
	background-image: url(flag/obflag.png);
}

@media only screen and (max-width: 800px){

	/* OB Flag */
	
	#obflag{
	top: 3px;
    }
    
    /* Menu Icon */
    
    #logo a.mobile-menu-show{
    background: none;
    top: 45%;
    }
	
}

#mobile-menu-wrap{
    background: #033568;
}


#mobile-menu ul li:hover > a{
    color: #fff;
}


#mobile-menu ul li {
    border-top: #fff;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */

#obflag.right{
	right: 15px;
}

}

